p{background-color: rgba(0, 255, 255, 0.11);border: red double 3.5px;}
p.atenai{text-shadow: 2px 5px 3px darkcyan;color: rebeccapurple;font-size: 35px;background-color: lightcoral;}
p#graikia{background-color: black;color: cornsilk; text-shadow: 9.9px -10px 3px goldenrod;}